.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
    background-color: transparent;
}
.Success {
    color: #5C9210;
}

.Success_2 {
    color: rgb(193, 202, 59);
    background-color: darkolivegreen;
    border-radius: 1vh
}


.Danger {
    color: #944317;
}